In [2]:
import pandas as pd
df = pd.read_csv("/Users/fangsiyu/Desktop/sdu_courses/801_intro/w1/netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [87]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'new_d'],
      dtype='object')

In [88]:
df.shape

(8807, 13)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [13]:
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [14]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [97]:
df[df['release_year'] == 2020].sort_values(by='release_year', ascending=False)
# 最大就是2021，sum 592

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_d,chain_new_d
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90.0,90.0
2352,s2353,TV Show,Babies,NaN,NaN,United States,"June 19, 2020",2020,TV-14,2 Seasons,"Docuseries, Science & Nature TV","From nature to nurture, this docuseries explor...",NaN,NaN
2330,s2331,Movie,Eurovision Song Contest: The Story of Fire Saga,David Dobkin,"Will Ferrell, Rachel McAdams, Dan Stevens, Mel...",United States,"June 26, 2020",2020,PG-13,124 min,"Comedies, Music & Musicals, Romantic Movies",Two small-town singers chase their pop star dr...,124.0,124.0
2331,s2332,TV Show,Home Game,NaN,NaN,United States,"June 26, 2020",2020,TV-MA,1 Season,Docuseries,This docuseries profiles unique and dangerous ...,NaN,NaN
2337,s2338,TV Show,Twogether,NaN,"Lee Seung-gi, Jasper Liu",South Korea,"June 26, 2020",2020,TV-G,1 Season,"International TV Shows, Korean TV Shows, Reali...",Paired together for an unforgettable trip acro...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1734,s1735,Movie,Midnight at the Magnolia,Maxwell McGuire,"Natalie Hall, Evan Williams, Michael Gordon Sh...",Canada,"November 5, 2020",2020,TV-G,87 min,"Comedies, Romantic Movies",Longtime friends and local radio hosts Maggie ...,87.0,87.0
1736,s1737,Movie,Operation Christmas Drop,Martin Wood,"Kat Graham, Alexander Ludwig, Virginia Madsen,...",United States,"November 5, 2020",2020,TV-G,96 min,"Children & Family Movies, Comedies, Romantic M...",A by-the-book political aide falls for a big-h...,96.0,96.0
1737,s1738,TV Show,Paranormal,NaN,"Ahmed Amin, Razane Jammal, Ayah Samaha, Samaa ...",Egypt,"November 5, 2020",2020,TV-14,1 Season,"International TV Shows, TV Dramas, TV Horror",After a skeptical hematologist is plunged into...,NaN,NaN
1740,s1741,TV Show,Love & Anarchy,NaN,"Ida Engvoll, Björn Mosten, Carla Sehn, Reine B...",Sweden,"November 4, 2020",2020,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...",A married consultant and a young IT tech kick ...,NaN,NaN
8132,s8133,TV Show,Surviving R. Kelly Part II: The Reckoning,NaN,R. Kelly,United States,"April 13, 2020",2020,TV-MA,1 Season,"Crime TV Shows, Docuseries",As more women come forward with harrowing accu...,NaN,NaN

In [ ]:
df[df['rating'] == 'PG']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_d,chain_new_d
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,91.0,91.0
41,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,"September 16, 2021",1975,PG,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...,124.0,124.0
42,s43,Movie,Jaws 2,Jeannot Szwarc,"Roy Scheider, Lorraine Gary, Murray Hamilton, ...",United States,"September 16, 2021",1978,PG,116 min,"Dramas, Horror Movies, Thrillers",Four years after the last deadly shark attacks...,116.0,116.0
43,s44,Movie,Jaws 3,Joe Alves,"Dennis Quaid, Bess Armstrong, Simon MacCorkind...",United States,"September 16, 2021",1983,PG,98 min,"Action & Adventure, Horror Movies, Thrillers",After the staff of a marine theme park try to ...,98.0,98.0
45,s46,Movie,My Heroes Were Cowboys,Tyler Greco,NaN,NaN,"September 16, 2021",2021,PG,23 min,Documentaries,Robin Wiltshire's painful childhood was rescue...,23.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8655,s8656,Movie,Unaccompanied Minors,Paul Feig,"Lewis Black, Wilmer Valderrama, Tyler James Wi...",United States,"October 1, 2019",2006,PG,90 min,"Children & Family Movies, Comedies","Five disparate kids, snowed in at the airport ...",90.0,90.0
8701,s8702,Movie,Water & Power: A California Heist,Marina Zenovich,NaN,United States,"February 1, 2018",2017,PG,78 min,Documentaries,California residents and farmers face powerful...,78.0,78.0
8776,s8777,Movie,Yellowbird,Christian De Vita,"Dakota Fanning, Seth Green, Christine Baranski...","France, Belgium","August 5, 2015",2014,PG,90 min,"Children & Family Movies, Comedies",An orphaned bird tags along with a flock on th...,90.0,90.0
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,88 min,"Children & Family Movies, Comedies",When a father of eight and a mother of 10 prep...,88.0,88.0
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",88.0,88.0

In [32]:
df.value_counts('listed_in')

listed_in
Dramas, International Movies                                  362
Documentaries                                                 359
Stand-Up Comedy                                               334
Comedies, Dramas, International Movies                        274
Dramas, Independent Movies, International Movies              252
                                                             ...
Cult Movies, Dramas, International Movies                       1
Cult Movies, Dramas, Music & Musicals                           1
Cult Movies, Dramas, Thrillers                                  1
Cult Movies, Horror Movies, Thrillers                           1
Crime TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy      1
Name: count, Length: 514, dtype: int64

In [ ]:
df['title'].str.contains('Love').sum()
# np.int64(188)

np.int64(188)

In [47]:
df.sort_values(by='release_year').head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...

In [ ]:
mask = df['duration'].str.contains(' min', na=False)
df['new_d'] = df.loc[mask, 'duration'].str.replace(" min", "", regex=False).astype(int)
df.sort_values(by="new_d", ascending=True)

mask = df['duration'].str.contains(' min', na=False)
df['chain_new_d'] = df[mask]['duration'].str.replace(" min", "", regex=False).astype(int)
df.sort_values(by="new_d", ascending=True)

# # 或者是寫成這樣 
# df['new_d'] = (
#     df['duration']
#       .where(df['duration'].str.contains(' min', na=False))  # 不符合的變成 NaN
#       .str.replace(" min", "", regex=False)
#       .astype(float)
#       .astype('Int64')
# )
# df.sort_values(by="new_d", ascending=True)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_d,chain_new_d
3777,s3778,Movie,Silent,"Limbert Fabian, Brandon Oldenburg",NaN,United States,"June 4, 2019",2014,TV-Y,3 min,"Children & Family Movies, Sci-Fi & Fantasy","""Silent"" is an animated short film created by ...",3.0,3.0
2713,s2714,Movie,Sol Levante,Akira Saitoh,NaN,Japan,"April 2, 2020",2020,TV-14,5 min,"Action & Adventure, Anime Features, Internatio...",A young warrior and her familiar search for th...,5.0,5.0
1484,s1485,Movie,Cops and Robbers,"Arnon Manor, Timothy Ware-Hill",Timothy Ware-Hill,United States,"December 28, 2020",2020,PG-13,8 min,Dramas,Animation and activism unite in this multimedi...,8.0,8.0
1557,s1558,Movie,Canvas,Frank E. Abney III,NaN,United States,"December 11, 2020",2020,G,9 min,"Children & Family Movies, Dramas","After a heartbreaking loss, a grandfather stru...",9.0,9.0
3535,s3536,Movie,American Factory: A Conversation with the Obamas,NaN,"President Barack Obama, Michelle Obama, Julia ...",United States,"September 5, 2019",2019,TV-G,10 min,Documentaries,Barack and Michelle Obama talk with directors ...,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,NaN,NaN
8796,s8797,TV Show,Yunus Emre,NaN,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves...",NaN,NaN
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,NaN,NaN
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre...",NaN,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaN

In [85]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
new_d           2679
dtype: int64

In [86]:
new_df = df.dropna(subset=['director','cast','country'])
new_df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast              0
country           0
date_added        0
release_year      0
rating            1
duration          3
listed_in         0
description       0
new_d           150
dtype: int64